/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Atkinson';
  src: url(./assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson';
  src: url(./assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson';
  src: url(./assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2) format('woff2');
  font-weight: bold;
  font-style: normal; 
}

@font-face {
  font-family: 'Atkinson';
  src: url(./assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format('woff2');
  font-weight: bold;
  font-style: normal; 
}  


@tailwind utilities;



body,
html,
#app {
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply bg-black-dark;
}

body {
  background: #1b1b1b;
}

.click{
  -webkit-tap-highlight-color: transparent;
}

.fade-up-enter-from,
.fade-up-leave-to {
  transform: translateY(-10px) !important;
  opacity: 0 !important;
}

.fade-left-enter-from{
  transform: translateX(-50px) !important;
  opacity: 0 !important;
}

.fade-left-leave-to {
  transform: translateX(50px) !important;
  opacity: 0 !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0 !important;
}

input[type='range'] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  margin: 0 7.55px;
  background-color: transparent;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #374151;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 6.9px;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-right: -4px;
  width: 22px;
  height: 22px;
  background: #9ca3af;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #b8c1cf;
}
input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  background: #374151;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 6.9px;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  background: #9ca3af;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type='range']::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  border-color: transparent;
  border-width: 7.55px 0;
  color: transparent;
  width: 100%;
  height: 6.9px;
  cursor: pointer;
}
input[type='range']::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 50px;
}
input[type='range']::-ms-fill-upper {
  background: #374151;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 50px;
}
input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  background: #9ca3af;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type='range']:focus::-ms-fill-lower {
  background: #374151;
}
input[type='range']:focus::-ms-fill-upper {
  background: #b8c1cf;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type='range'] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 12px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}
::-webkit-scrollbar-thumb:active {
  background: #6b6b6b;
}
::-webkit-scrollbar-track {
  background: #2b2b2b;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #2e2e2e;
}
::-webkit-scrollbar-track:active {
  background: #2e2e2e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}